body {
  font-family: 'Segoe UI', 'Helvetica Neue';
  box-sizing: border-box;

}

section {
  text-align: center;
}

.div {
  width: 100px;
  height: 100px;
  box-shadow: 0px 2px 2px 0px #000;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}

.div:hover{
  background-image: radial-gradient(circle at 50% -20.71%, #fffd7b 0, #fffe6e 8.33%, #fffd61 16.67%, #fffc55 25%, #f1f94b 33.33%, #d4f642 41.67%, #b5f23c 50%, #92ed3b 58.33%, #69e93f 66.67%, #28e548 75%, #00e154 83.33%, #00dd62 91.67%, #00d972 100%);
}

.title {
  font-size: 100px;
  color: #000;
  margin: 10px auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 10px auto;
  background-color: #c2d1b8;
  color: #000000;
  background-image: radial-gradient(circle at 50% -20.71%, #ffff99 0, #ffff7d 16.67%, #ffff5f 33.33%, #f2f23c 50%, #cfe503 66.67%, #abd800 83.33%, #85cd00 100%);
}

.result {
  font-size: 50px;
  color: #000;
  margin: 20px auto;
}

.newGame {
  background-image: radial-gradient(circle at 50% -20.71%, #ffff99 0, #ffff7d 16.67%, #ffff5f 33.33%, #f2f23c 50%, #cfe503 66.67%, #abd800 83.33%, #85cd00 100%);
  width: 200px;
  height: 50px;
  font-size: 25px;
  color: #000;
}

.newGame:hover{
  background-image: radial-gradient(circle at 50% -20.71%, #fffd7b 0, #fffe6e 8.33%, #fffd61 16.67%, #fffc55 25%, #f1f94b 33.33%, #d4f642 41.67%, #b5f23c 50%, #92ed3b 58.33%, #69e93f 66.67%, #28e548 75%, #00e154 83.33%, #00dd62 91.67%, #00d972 100%);
}